In [22]:
# Importação da bibilioteca

import pandas as pd

In [23]:
caminho_arquivo = r'C:\Estudos\alura\data-science\5-pandas-io\arquivos\emissoes_CO2.xlsx'

In [24]:
# Leitura dos dados excel (xlsx)

pd.read_excel(
    caminho_arquivo,
    sheet_name='emissoes_percapita'
)

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Óleo,Gás,Cimento,Queima,Outro
0,Afeganistão,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0

In [25]:
# Obtendo o nome das guias do excel

pd.ExcelFile(
    caminho_arquivo
).sheet_names

['emissoes_C02', 'emissoes_percapita', 'fontes']

In [26]:
# Leitura da guia correta

pd.read_excel(
    caminho_arquivo,
    sheet_name='fontes'
).head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,Afeganistão,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,Afeganistão,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,Afeganistão,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,Afeganistão,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

In [27]:
# Leitura da primeira guia com apenas as colunas de A até D

pd.read_excel(
    caminho_arquivo,
    sheet_name=0,
    usecols='A:D'
).head()

          País ISO 3166-1 alpha-3   Ano  Total
0  Afeganistão                AFG  1750    0.0
1  Afeganistão                AFG  1751    0.0
2  Afeganistão                AFG  1752    0.0
3  Afeganistão                AFG  1753    0.0
4  Afeganistão                AFG  1754    0.0

In [28]:
# Leitura da primeira guia com apenas as colunas de A até D e linhas até 10

pd.read_excel(
    caminho_arquivo,
    sheet_name=0,
    usecols='A:D',
    nrows=10
)

          País ISO 3166-1 alpha-3   Ano  Total
0  Afeganistão                AFG  1750      0
1  Afeganistão                AFG  1751      0
2  Afeganistão                AFG  1752      0
3  Afeganistão                AFG  1753      0
4  Afeganistão                AFG  1754      0
5  Afeganistão                AFG  1755      0
6  Afeganistão                AFG  1756      0
7  Afeganistão                AFG  1757      0
8  Afeganistão                AFG  1758      0
9  Afeganistão                AFG  1759      0

### Salvando arquivo excel

In [29]:
import os

In [30]:
percapita_co2 = pd.read_excel(caminho_arquivo,
                              sheet_name='emissoes_percapita')

In [34]:
caminho_arquivo_salvo = r'C:\Estudos\alura\data-science\5-pandas-io\arquivos\co2_percapita.xlsx'

if os.path.exists(caminho_arquivo_salvo): # Se o arquivo já existe
    # print('Arquivo já foi salvo.')
    pass # Não faz nada
else: # Caso contrário, salva o arquivo
    percapita_co2.to_excel(
        r'C:\Estudos\alura\data-science\5-pandas-io\arquivos\co2_percapita.xlsx',
        index=False
    )

Arquivo já foi salvo.

#### Conexão com google sheets

In [40]:
sheet_id = '1S5SXYZy5OMia1rG10HivsasU09-1Twfk'
'https://docs.google.com/spreadsheets/d/1S5SXYZy5OMia1rG10HivsasU09-1Twfk/edit?usp=sharing&ouid=114627952936355513692&rtpof=true&sd=true'

In [41]:
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [43]:
pd.read_csv(
    url
).head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Óleo,Gás,Cimento,Queima,Outro
0,Afeganistão,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN